html,
body {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 300;
}

h2 {
  font-weight: 300;
}

p {
  font-weight: 200;
}

*,
*.before,
*.after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.phone-image-section {
  float: left;
  width: 50%;
}

.phone-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  width: 15em;
}

.phone-content-section {
  float: right;
  width: 50%;
}

.star {
  color: #fff;
  font-size: 1.5em;
  position: relative;
}

.star:before {
  color: #ffc300;
  content: "\2605";
  overflow: hidden;
  position: absolute;
}

.stars {
  margin: 0;
  padding: 0;
  list-style: none;
}

.stars > li {
  display: inline-block;
}

.star-gold {
  color: gold;
}

.star-grey {
  color: grey;
}

.features {
  padding-bottom: 5em;
}

.colour-options {
  float: left;
}

.capacity-options {
  float: right;
}

.colour-options,
.capacity-options {
  margin-bottom: 5em;
  margin-top: 2em;
  width: 50%;
}

button {
  border: 1px solid #b8b7b8;
  border-radius: 0.8em;
  height: 4em;
  margin: 25px 9px 25px 0;
  text-align: center;
  text-decoration: none;
  width: 4em;
}

button:active,
button:checked,
button:focus,
button:hover {
  box-shadow: 0 0 0 1.5pt #068985;
  -moz-box-shadow: 0 0 0 1.5pt #068985;
  outline: none;
}

.button-gold {
  background-image: linear-gradient(#fae4de, #fce8e2, #c9c7c9);
}

.button-silver {
  background-image: linear-gradient(#eeeff0, #e2e2e3, #adacac);
}

.button-space-grey {
  background-color: #252524;
  border-color: #252524;
}

.size-selection {
  float: right;
  padding-right: 16em;
}

.button-gigs {
  background-color: #ededed;
  color: #525252;
  font-size: 1em;
  font-weight: 100;
  height: 3em;
  width: 3em;
}

table,
.pricing-options {
  background-color: #f4f4f4;
  height: 9em;
  padding-left: 0;
  width: 37em;
}

.table-top,
.table-bottom {
  height: 1.5em;
  width: 70em;
}

tr,
td {
  line-height: 2em;
  padding: 0 2em 0 2em;
}

.vertical-line {
  border-right: 1px solid #ddd;
}

.upfront-cost,
.monthly-cost {
  font-family: "Raleway", sans-serif;
  color: red;
  font-size: 1.8em;
  font-weight: 600;
}

/* Firefox specifics */
@-moz-document url-prefix() {
  .star {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .button {
    border: none;
  }
}
